body{
    padding-top: 100px;
    background: #CECECE;
    background: -moz-linear-gradient(left, #CECECE 0%, #3A8BFF 50%, #C5C5C5 100%);
    background: -webkit-linear-gradient(left, #CECECE 0%, #3A8BFF 50%, #C5C5C5 100%);
    background: linear-gradient(to right, #CECECE 0%, #3A8BFF 50%, #C5C5C5 100%);
    padding-bottom: 100px;
}


.form-signup{
    margin: 0 auto;
    max-width: 1000px;
    background-color: white;
    padding:15px;
    box-shadow: 0 0 10px black;

}

.form-signup h2{
    text-align: center;
}